body {
	background: black;
	text-align: center;
	color: #DDD;
	font-family: Arial;
}

.header {
	color: white;
	font-size: 24px;
}

.controls {
	color: #BBB;
	margin-top: 8px;
}

#cr-stage {
	margin: 20px auto 0;
}

.footer {
	font-size: 12px;
	color: #888;
	margin-top: 20px;
}

.footer a {
	color: #AAA;
}
